* {
	box-sizing: content-box;
}

body {
	margin: 0;
    font-family: monospace;
    background-color: rgb(157, 255, 0);
}

#main {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    font-weight: bold;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#canvasWrapper {
	position: relative;
    border: 15px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #063300;
}

#apple {
	width: 10px;
	height: 10px;
	position: absolute;
	visibility: hidden;
	background-image: url('./apple.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.drawer {
    position: absolute;
    color: white;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.drawer-header {
    border-bottom: 1px solid white;
    text-align: center;
    height: 1.5em;
    font-weight: bolder;
}

.drawer-list {
    margin: 0;
}

.mode-list-item {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 5px auto;
}

.display-none {
    display: none;
}

#hint {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(6, 51, 0);
    font-weight: bold;
    touch-action: none;
    width: 300px;
    height: 2em;
    border: 15px solid rgb(132, 214, 0);
    background-color: rgb(132, 214, 0);
    text-align: center;
}

#controllerWrapper {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 330px;
}

.controller {
    border: 5px solid #063300;
    background-color: inherit;
    color: #063300;
    text-align: center;
    font-family: monospace;
    height: 20px;
    width: 45px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bolder;
}
